table{
    margin:auto;
    margin-top:10%
    
}
body{
    background-color:hsl(212, 45%, 89%);
}
img{
    width:250px;
    border-radius: 10px;
}
td{
    text-align:center;
    background-color:white;
    padding:10px;
    border-radius: 15px;
    height:350px;
    width: 250px;
}
h2{
    font-family: 'Dosis', sans-serif;
    font-weight:700;
    padding-left :15px;
    padding-right :15px;
}
p{
    font-weight: 400;
    font-size:15px;
    padding-left :15px;
    padding-right :15px;
}